// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// color list
$blue: #50A4EB;
$dark_blue: #2B30AB;
$green: #70F3A2;
$blue-green: #2B30AB;
$grey: #e6e6e6;
$white: #FFFFFF;
$black: #151515;
