// Specific CSS for your home-page

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// html {
//   font-size: 62.5%;
// }

// img {
//   object-fit: cover;
// }

// p {
//   font-size: 1.6rem;
// }

.banner {
  display: grid;
  grid-template-columns: 1fr [start-cols] repeat(8, [col] minmax(min-content, 15rem) [end-col]) [end-cols] 1fr;
  grid-template-rows: minmax(40vw, 50vh);

  .banner-content {

    grid-column: start-cols/end-cols;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: inherit;

    img {
      width: 100%;
      height: 100%;
      grid-column: start-cols/end-cols;
      grid-row: 1/2;
      object-fit: cover;

      opacity: 0;
      transition: all 2s ease-in-out;

      &.active {
        opacity: 1;
      }
    }

  }

  .banner-wrapper {


    @media screen and (max-width: 800px){
      grid-column: col 2 / end-col 7;
    }

    color: white;
    grid-column: col 5/span 3;
    grid-row: 1/2;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: baseline;

    .banner-form {
      width: 100%;
      input {
        width: 100%;
      }

      .row {
        margin:0px;
      }

      .from {
        padding-left: 0px;

      }

      input {
        padding-left: 10px;
        padding-right: 10px;
        height: 100%;
      }

      .until {
        padding-right: 0px;
      }
        .banner-form-item {
          margin-bottom: 10px;
          background: #ffffff68;
          border: 1px solid $grey;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
          border-radius: 50px;
          width: 100%;
          height: 42px;

          &:focus-within {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          }

          ::placeholder {
            color: $dark-grey;
          }

          .no-border  {
            border-style: none;
            width: 100%;
            background:rgba(0, 0, 0, 0);
          }

          input:focus {
            outline: none;
          }

        }
      }
    }

  }
