// Import page-specific CSS files here.
@import "home";
.placeholder-map {
    background-image: url("index_map_placeholder.png");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.container {
  min-height: 100%;
  height: 100%;
}
