.background-gradient {
  background-image: linear-gradient(to top left, $blue, $green);
}


#main {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
}

#main > h1 {
  color: white;
  font-weight: semi-bold;
  text-align: center;
}
