.map-rental-request {
  margin-top: 20px;
}

.paiement {
  margin-top: 20px;
}

.parking-image {
  margin: 20px;
}

.row_two {
  margin-top : 10px;
}

.btn-primary {
  border-radius: 20px;
  color: white;
}
.form-check{
  margin-top: 10px;
}

.confirm-button{
  text-align: center;
  display: block;
  align-items: center;
}
.exp-date {
  margin-right: 10px !important;
}
