<div class="container">
  <div>
    <h1>28 parking slots found near you</h1>
  </div>
  <div class="row" style="height: 100%">
    <div class="col">
      <div class="card-small">
        <img src="https://source.unsplash.com/random/200x150/?parking" alt="">
        <div class="card-small-info">
            <h2>Safe parking lot</h2>
            <p>Jl. Munduk Catu No.32, Canggu</p>
            <p>12€ per day</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="placeholder-map"></div>
    </div>
  </div>
</div>
