<style>
  div {
    border: solid green;
  }
</style>

<div class="container">
  <div>
    <h1>28 parking slots found near you</h1>
  </div>
  <div class="row">
    <div class="col">
      list items here
    </div>
    <div class="col">
      <div class="placeholder-map"></div>
    </div>
  </div>
</div>
