<div class="image-container">
  <div class="image">
  </div>
  <div class="map">
  </div>
</div>
<div class="product-container">
  <div class="description-container">
    <h2>title</h2>
      <p>desciption</p>
      <p>address</p>
      <p>widht</p>
      <p>height</p>
      <p>security item</p>
  </div>
  <div class="booking-container">
    <h2>Price per jour</h2>
    <div class="check-box-container">
      <div class="check-in-box">
        <p>date in</p>
      </div>
      <div class="check-out-box">
        <p>date out</p>
      </div>
      <div class="primary-btn"></div>
      <div class="booking-resume-container">
      </div>
    </div>
  </div>
</div>
