.car-icon {
  background-image: url("https://img.icons8.com/glyph-neue/64/50A4EB/sedan.png");
  background-size: contain;
  background-position: center;
  background-repeat:no-repeat;
  height: 25px;
  width: 25px;
  transition: all 0.5s ease;
  &:hover {
    background-image: url("https://img.icons8.com/glyph-neue/64/5CC6D0/sedan.png");
  }
}
