.icon-car {
  background-image: url("https://img.icons8.com/glyph-neue/64/50A4EB/sedan.png");
  background-size: contain;
  background-position: center;
  background-repeat:no-repeat;
  height: 23px;
  width: 23px;
  }
