.container-fluid {
  padding: 0px;
  align-content: center;
}
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin: 0px !important;
}

.navbar-brand {
  justify-content: center;
  margin: 0px;
}
.navbar-lewagon {
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-brand img {
    height:38px;
  }

  .nav-item {
    margin: 0px 8px;
    background: #FFFFFF;
    border: 1px solid $grey;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    max-width: 100px;
    height: 42px;

    &:focus-within {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }

    ::placeholder {
      color: $dark-grey;
      text-align: center;
      justify-content: center;
    }

    .no-border  {
      border-style: none;
      width: 100%;
      background:rgba(0, 0, 0, 0);
    }

    input:focus {
      outline: none;
    }

    .padding {
      width: 120px;
    }

    .avatar {
      width: 35px;
      height: 35px;
    }
  }
  .smaller-image {
    width: 23px;
    height: 23px;
  }
  .nav-item-special-1 {
    margin-left: 8px;
    background:rgba(0, 0, 0, 0);
    border: 1px solid $grey;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    }

  .nav-item-special-2 {
    margin-right: 8px;
    background: #FFFFFF;
    border: 1px solid $grey;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
  }

  .longer {
    width: 300px;
    max-width: 300px;
  }

  .little-longer {
    width: 120px;
    text-align: center;
    padding: 8px 10px;
    height: 42px;
  }

  .dropdown-menu {
    background: #FFFFFF;
    border: 1px solid $grey;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px !important;
}

.navbar-nav {
  margin-left: auto;
  padding-left: 20px;
}

.container-nav {
  border-bottom: solid 1px $grey;
  width: 100%;
  background-color: white;
}

.fa-solid {
  color: $grey;
  margin-left: 16% !important;
}

i::before {
  height: 25px !important;
  padding-left: 20%;
}

.display-none {
  display: none;
}

.mapboxgl-ctrl-geocoder {
  margin: 0px 8px;
  background: #FFFFFF;
  border: 1px solid $grey !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) !important;
  border-radius: 50px !important;
  max-width: 100px;
  height: 42px;
}

.me-auto {
  padding: 0px !important;
}

.mapboxgl-ctrl-geocoder--input {
  outline: none !important;
    ::placeholder {
    color: $dark-grey;
  }
}

.large {
  max-width: 150px !important;
}
