.icon-scooter {
  background-image: url("https://img.icons8.com/ios-filled/50/50A4EB/motorcycle.png");
  background-size: contain;
  background-position: center;
  background-repeat:no-repeat;
  height: 23px;
  width: 23px;
  }
