// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Basic styling

body {
  font-family: Verdana, sans-serif;
  color: $black;
  height: 100%;
  background-color: white;
}

h1 {
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 20px;
}

h2 {
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 15px;
}

p {
  font-size: 16px;
}

a {
 color: $black;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.placeholder-map {
  background-image: url("index_map_placeholder.png");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 72vh;
  width: 100%;
  border-radius: 20px;
}

.container {
  margin-top: 30px;
}
